<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartLive.product.mapper.ProductMapper">

    <resultMap type="com.smartLive.product.domain.Product" id="ProductResult">
        <result property="id"           column="id"    />
        <result property="shopId"       column="shop_id"    />
        <result property="name"         column="name"    />
        <result property="subTitle"     column="sub_title"    />
        <result property="category"     column="category"    />
        <result property="activityType" column="activity_type"    />
        <result property="rulesJson"    column="rules_json"    />
        <result property="price"        column="price"    />
        <result property="originalPrice" column="original_price"    />
        <result property="stock"        column="stock"    />
        <result property="sold"         column="sold"    />
        <result property="reviews"      column="reviews"    />
        <result property="fans"         column="fans"    />
        <result property="stars"        column="stars"    />
        <result property="validityType" column="validity_type"    />
        <result property="status"       column="status"    />
        <result property="auditStatus"  column="audit_status"    />
        <result property="rejectReason" column="reject_reason"    />
        <result property="useStartTime" column="use_start_time"    />
        <result property="useEndTime"   column="use_end_time"    />
        <result property="validDays"    column="valid_days"    />
        <result property="coverImg"     column="cover_img"    />
        <result property="beginTime"    column="begin_time"    />
        <result property="endTime"      column="end_time"    />
        <result property="createTime"   column="create_time"    />
        <result property="updateTime"   column="update_time"    />
    </resultMap>

    <sql id="selectProductVo">
        select id, shop_id, name, sub_title, category, activity_type, rules_json, price, original_price, stock,
               sold, reviews, fans,status, audit_status, reject_reason, stars, validity_type, use_start_time, use_end_time, valid_days, cover_img,
               begin_time, end_time, create_time, update_time
        from product
    </sql>

    <select id="selectProductList" parameterType="com.smartLive.product.domain.Product" resultMap="ProductResult">
        <include refid="selectProductVo"/>
        <where>
            <if test="shopId != null and shopId != ''"> and FIND_IN_SET(#{shopId}, shop_id)</if>
            <if test="shopIds != null and shopIds.size > 0">
                and (
                <foreach collection="shopIds" item="shopIdItem" separator=" or ">
                    FIND_IN_SET(#{shopIdItem}, shop_id)
                </foreach>
                )
            </if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="subTitle != null  and subTitle != ''"> and sub_title like concat('%', #{subTitle}, '%')</if>
            <if test="category != null "> and category = #{category}</if>
            <if test="activityType != null "> and activity_type = #{activityType}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="auditStatus != null"> and audit_status = #{auditStatus}</if>
        </where>
    </select>

    <select id="selectProductById" parameterType="Long" resultMap="ProductResult">
        <include refid="selectProductVo"/>
        where id = #{id}
    </select>

    <insert id="insertProduct" parameterType="com.smartLive.product.domain.Product" useGeneratedKeys="true" keyProperty="id">
        insert into product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">shop_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="subTitle != null">sub_title,</if>
            <if test="category != null">category,</if>
            <if test="activityType != null">activity_type,</if>
            <if test="rulesJson != null">rules_json,</if>
            <if test="price != null">price,</if>
            <if test="originalPrice != null">original_price,</if>
            <if test="stock != null">stock,</if>
            <if test="validityType != null">validity_type,</if>
            <if test="useStartTime != null">use_start_time,</if>
            <if test="useEndTime != null">use_end_time,</if>
            <if test="validDays != null">valid_days,</if>
            <if test="coverImg != null">cover_img,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="sold != null">sold,</if>
            <if test="reviews != null">reviews,</if>
            <if test="fans != null">fans,</if>
            <if test="stars != null">stars,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="rejectReason != null">reject_reason,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">#{shopId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="subTitle != null">#{subTitle},</if>
            <if test="category != null">#{category},</if>
            <if test="activityType != null">#{activityType},</if>
            <if test="rulesJson != null">#{rulesJson},</if>
            <if test="price != null">#{price},</if>
            <if test="originalPrice != null">#{originalPrice},</if>
            <if test="stock != null">#{stock},</if>
            <if test="validityType != null">#{validityType},</if>
            <if test="useStartTime != null">#{useStartTime},</if>
            <if test="useEndTime != null">#{useEndTime},</if>
            <if test="validDays != null">#{validDays},</if>
            <if test="coverImg != null">#{coverImg},</if>
            <if test="beginTime != null">#{beginTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="sold != null">#{sold},</if>
            <if test="reviews != null">#{reviews},</if>
            <if test="fans != null">#{fans},</if>
            <if test="stars != null">#{stars},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="rejectReason != null">#{rejectReason},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateProduct" parameterType="com.smartLive.product.domain.Product">
        update product
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="subTitle != null">sub_title = #{subTitle},</if>
            <if test="category != null">category = #{category},</if>
            <if test="activityType != null">activity_type = #{activityType},</if>
            <if test="rulesJson != null">rules_json = #{rulesJson},</if>
            <if test="price != null">price = #{price},</if>
            <if test="originalPrice != null">original_price = #{originalPrice},</if>
            <if test="stock != null">stock = #{stock},</if>
            <if test="validityType != null">validity_type = #{validityType},</if>
            <if test="useStartTime != null">use_start_time = #{useStartTime},</if>
            <if test="useEndTime != null">use_end_time = #{useEndTime},</if>
            <if test="validDays != null">valid_days = #{validDays},</if>
            <if test="coverImg != null">cover_img = #{coverImg},</if>
            <if test="beginTime != null">begin_time = #{beginTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="sold != null">sold = #{sold},</if>
            <if test="reviews != null">reviews = #{reviews},</if>
            <if test="fans != null">fans = #{fans},</if>
            <if test="stars != null">stars = #{stars},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductById" parameterType="Long">
        delete from product where id = #{id}
    </delete>

    <delete id="deleteProductByIds" parameterType="Long">
        delete from product where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
