<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartLive.marketing.mapper.VoucherMapper">

    <resultMap type="com.smartLive.marketing.domain.Voucher" id="VoucherResult">
        <result property="id"           column="id"    />
        <result property="shopId"       column="shop_id"    />
        <result property="title"        column="title"    />
        <result property="subTitle"     column="sub_title"    />
        <result property="rules"        column="rules"    />
        <result property="payValue"     column="pay_value"    />
        <result property="actualValue"  column="actual_value"    />
        <result property="type"         column="type"    />
        <result property="status"       column="status"    />
        <result property="validityType" column="validity_type"    />
        <result property="useStartTime" column="use_start_time"    />
        <result property="useEndTime"   column="use_end_time"    />
        <result property="validDays"    column="valid_days"    />
        <result property="createTime"   column="create_time"    />
        <result property="updateTime"   column="update_time"    />
        <result property="sold"         column="sold"    />
        <result property="reviews"      column="reviews"    />
        <result property="fans"         column="fans"    />
        <result property="stars"        column="stars"    />
    </resultMap>

    <sql id="selectVoucherVo">
        select id, shop_id, title, sub_title, rules, pay_value, actual_value, type, status, validity_type,
               use_start_time, use_end_time, valid_days, create_time, update_time,
               sold, reviews, fans, stars
        from voucher
    </sql>

    <select id="selectVoucherList" parameterType="com.smartLive.marketing.domain.Voucher" resultMap="VoucherResult">
        <include refid="selectVoucherVo"/>
        <where>
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="subTitle != null  and subTitle != ''"> and sub_title = #{subTitle}</if>
            <if test="rules != null  and rules != ''"> and rules = #{rules}</if>
            <if test="payValue != null  and payValue != ''"> and pay_value = #{payValue}</if>
            <if test="actualValue != null "> and actual_value = #{actualValue}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectVoucherById" parameterType="Long" resultMap="VoucherResult">
        SELECT
            v.`id`, v.`shop_id`, v.`title`, v.`sub_title`, v.`rules`, v.`pay_value`,v.`status`,
            v.`actual_value`, v.`type`,v.`validity_type`,v.`use_start_time`,v.`use_end_time`,v.`valid_days`,
            v.`sold`, v.`reviews`, v.`fans`, v.`stars`,
            sv.`stock` , sv.begin_time , sv.end_time
        FROM voucher v
                 LEFT JOIN  seckill_voucher sv ON v.id = sv.voucher_id
        WHERE  v.id = #{id}
    </select>

    <insert id="insertVoucher" parameterType="com.smartLive.marketing.domain.Voucher" useGeneratedKeys="true" keyProperty="id">
        insert into voucher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">shop_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="subTitle != null">sub_title,</if>
            <if test="rules != null">rules,</if>
            <if test="payValue != null and payValue != ''">pay_value,</if>
            <if test="validityType!= null and validityType!=''">validity_type,</if>
            <if test="useStartTime != null and useStartTime!='' ">use_start_time,</if>
            <if test="useEndTime != null and useEndTime != ''">use_end_time,</if>
            <if test="validDays != null and validDays!=''" >valid_days,</if>
            <if test="actualValue != null">actual_value,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="sold != null">sold,</if>
            <if test="reviews != null">reviews,</if>
            <if test="fans != null">fans,</if>
            <if test="stars != null">stars,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">#{shopId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="subTitle != null">#{subTitle},</if>
            <if test="rules != null">#{rules},</if>
            <if test="payValue != null and payValue != ''">#{payValue},</if>
            <if test="actualValue != null">#{actualValue},</if>
            <if test="validityType!= null and validityType!=''">#{validityType},</if>
            <if test="useStartTime != null and useStartTime!='' ">#{useStartTime},</if>
            <if test="useEndTime != null and useEndTime != ''">#{useEndTime},</if>
            <if test="validDays != null and validDays!=''" >#{validDays},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="sold != null">#{sold},</if>
            <if test="reviews != null">#{reviews},</if>
            <if test="fans != null">#{fans},</if>
            <if test="stars != null">#{stars},</if>
        </trim>
    </insert>

    <update id="updateVoucher" parameterType="com.smartLive.marketing.domain.Voucher">
        update voucher
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="subTitle != null">sub_title = #{subTitle},</if>
            <if test="rules != null">rules = #{rules},</if>
            <if test="payValue != null and payValue != ''">pay_value = #{payValue},</if>
            <if test="actualValue != null">actual_value = #{actualValue},</if>
            <if test="validityType!= null and validityType!=''">validity_type=#{validityType},</if>
            <if test="useStartTime != null and useStartTime!='' ">use_start_time=#{useStartTime},</if>
            <if test="useEndTime != null and useEndTime != ''">use_end_time=#{useEndTime},</if>
            <if test="validDays != null and validDays!=''" >valid_days=#{validDays},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="sold != null">sold = #{sold},</if>
            <if test="reviews != null">reviews = #{reviews},</if>
            <if test="fans != null">fans = #{fans},</if>
            <if test="stars != null">stars = #{stars},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVoucherById" parameterType="Long">
        delete from voucher where id = #{id}
    </delete>

    <delete id="deleteVoucherByIds" parameterType="String">
        delete from voucher where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryVoucherOfShop" resultType="com.smartLive.marketing.domain.Voucher" parameterType="java.lang.Long">
        SELECT
            v.`id`, v.`shop_id`, v.`title`, v.`sub_title`, v.`rules`, v.`pay_value`,
            v.`actual_value`, v.`type`,v.`validity_type`,v.`use_start_time`,v.`use_end_time`,v.`valid_days`,
            v.`sold`, v.`reviews`, v.`fans`, v.`stars`,
            sv.`stock` , sv.begin_time , sv.end_time
        FROM voucher v
                 LEFT JOIN  seckill_voucher sv ON v.id = sv.voucher_id
        WHERE v.shop_id = #{shopId} AND v.status = 1
    </select>
</mapper>