<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartLive.shop.mapper.ShopMapper">
    
    <resultMap type="com.smartLive.shop.domain.Shop" id="ShopResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="typeId"    column="type_id"    />
        <result property="shopLogo"  column="shop_logo"  />
        <result property="images"    column="images"     />
        <result property="area"    column="area"    />
        <result property="address"    column="address"    />
        <result property="x"    column="x"    />
        <result property="y"    column="y"    />
        <result property="avgPrice"    column="avg_price"    />
        <result property="sold"    column="sold"    />
        <result property="reviews"    column="reviews"    />
        <result property="stared"    column="stared"    />
        <result property="fans"    column="fans"    />
        <result property="score"    column="score"    />
        <result property="openHours"    column="open_hours"    />
        <result property="status"    column="status"    />
        <result property="rejectReason"    column="reject_reason"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectShopVo">
        select id, name, type_id, shop_logo, images, area, address, x, y, avg_price, sold, reviews, stared, fans, score, open_hours, status, reject_reason, create_time, update_time from shop
    </sql>

    <select id="selectShopList" parameterType="com.smartLive.shop.domain.Shop" resultMap="ShopResult">
        <include refid="selectShopVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="typeId != null  and typeId != ''"> and type_id = #{typeId}</if>
            <if test="shopLogo != null  and shopLogo != ''"> and shop_logo = #{shopLogo}</if>
            <if test="images != null  and images != ''"> and images = #{images}</if>
            <if test="area != null  and area != ''"> and area = #{area}</if>
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
            <if test="x != null  and x != ''"> and x = #{x}</if>
            <if test="y != null  and y != ''"> and y = #{y}</if>
            <if test="avgPrice != null  and avgPrice != ''"> and avg_price = #{avgPrice}</if>
            <if test="sold != null "> and sold = #{sold}</if>
            <if test="reviews != null "> and reviews = #{reviews}</if>
            <if test="stared != null "> and stared = #{stared}</if>
            <if test="fans != null "> and fans = #{fans}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="openHours != null  and openHours != ''"> and open_hours = #{openHours}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectShopById" parameterType="String" resultMap="ShopResult">
        <include refid="selectShopVo"/>
        where id = #{id}
    </select>

    <insert id="insertShop" parameterType="com.smartLive.shop.domain.Shop" useGeneratedKeys="true" keyProperty="id">
        insert into shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="typeId != null and typeId != ''">type_id,</if>
            <if test="shopLogo != null and shopLogo != ''">shop_logo,</if>
            <if test="images != null and images != ''">images,</if>
            <if test="area != null">area,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="x != null and x != ''">x,</if>
            <if test="y != null and y != ''">y,</if>
            <if test="avgPrice != null">avg_price,</if>
            <if test="sold != null">sold,</if>
            <if test="reviews != null">reviews,</if>
            <if test="stared != null">stared,</if>
            <if test="fans != null">fans,</if>
            <if test="score != null">score,</if>
            <if test="openHours != null">open_hours,</if>
            <if test="status != null">status,</if>
            <if test="rejectReason != null">reject_reason,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="typeId != null and typeId != ''">#{typeId},</if>
            <if test="shopLogo != null and shopLogo != ''">#{shopLogo},</if>
            <if test="images != null and images != ''">#{images},</if>
            <if test="area != null">#{area},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="x != null and x != ''">#{x},</if>
            <if test="y != null and y != ''">#{y},</if>
            <if test="avgPrice != null">#{avgPrice},</if>
            <if test="sold != null">#{sold},</if>
            <if test="reviews != null">#{reviews},</if>
            <if test="stared != null">#{stared},</if>
            <if test="fans != null">#{fans},</if>
            <if test="score != null">#{score},</if>
            <if test="openHours != null">#{openHours},</if>
            <if test="status != null">#{status},</if>
            <if test="rejectReason != null">#{rejectReason},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateShop" parameterType="com.smartLive.shop.domain.Shop">
        update shop
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="typeId != null and typeId != ''">type_id = #{typeId},</if>
            <if test="shopLogo != null and shopLogo != ''">shop_logo = #{shopLogo},</if>
            <if test="images != null and images != ''">images = #{images},</if>
            <if test="area != null">area = #{area},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="x != null and x != ''">x = #{x},</if>
            <if test="y != null and y != ''">y = #{y},</if>
            <if test="avgPrice != null">avg_price = #{avgPrice},</if>
            <if test="sold != null">sold = #{sold},</if>
            <if test="reviews != null">reviews = #{reviews},</if>
            <if test="stared != null">stared = #{stared},</if>
            <if test="fans != null">fans = #{fans},</if>
            <if test="score != null">score = #{score},</if>
            <if test="openHours != null">open_hours = #{openHours},</if>
            <if test="status != null">status = #{status},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShopById" parameterType="String">
        delete from shop where id = #{id}
    </delete>

    <delete id="deleteShopByIds" parameterType="String">
        delete from shop where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectShopListByIdsAndCondition" resultMap="ShopResult">
        <include refid="selectShopVo"/>
        <where>
            id in
            <foreach collection="shopIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            <if test="shop != null and shop.name != null and shop.name != ''"> and name like concat('%', #{shop.name}, '%')</if>
            <if test="shop != null and shop.typeId != null and shop.typeId != ''"> and type_id = #{shop.typeId}</if>
            <if test="shop != null and shop.shopLogo != null and shop.shopLogo != ''"> and shop_logo = #{shop.shopLogo}</if>
            <if test="shop != null and shop.images != null and shop.images != ''"> and images = #{shop.images}</if>
            <if test="shop != null and shop.area != null and shop.area != ''"> and area = #{shop.area}</if>
            <if test="shop != null and shop.address != null and shop.address != ''"> and address like concat('%', #{shop.address}, '%')</if>
            <if test="shop != null and shop.x != null and shop.x != ''"> and x = #{shop.x}</if>
            <if test="shop != null and shop.y != null and shop.y != ''"> and y = #{shop.y}</if>
            <if test="shop != null and shop.avgPrice != null and shop.avgPrice != ''"> and avg_price = #{shop.avgPrice}</if>
            <if test="shop != null and shop.sold != null"> and sold = #{shop.sold}</if>
            <if test="shop != null and shop.reviews != null"> and reviews = #{shop.reviews}</if>
            <if test="shop != null and shop.stared != null"> and stared = #{shop.stared}</if>
            <if test="shop != null and shop.fans != null"> and fans = #{shop.fans}</if>
            <if test="shop != null and shop.score != null"> and score = #{shop.score}</if>
            <if test="shop != null and shop.openHours != null and shop.openHours != ''"> and open_hours = #{shop.openHours}</if>
            <if test="shop != null and shop.status != null"> and status = #{shop.status}</if>
        </where>
    </select>
</mapper>

