<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartlive.chat.mapper.ChatSessionsMapper">

    <resultMap type="com.smartlive.chat.domain.ChatSessions" id="ChatSessionsResult">
        <result property="id"    column="id"    />
        <result property="maxUserId"    column="max_user_id"    />
        <result property="lowUserId"    column="low_user_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectChatSessionsVo">
        select id, max_user_id, low_user_id, create_time from chat_sessions
    </sql>

    <select id="selectChatSessionsList" parameterType="com.smartlive.chat.domain.ChatSessions" resultMap="ChatSessionsResult">
        <include refid="selectChatSessionsVo"/>
        <where>
            <if test="maxUserId != null "> and max_user_id = #{maxUserId}</if>
            <if test="lowUserId != null "> and low_user_id = #{lowUserId}</if>
        </where>
    </select>

    <select id="selectChatSessionsById" parameterType="Long" resultMap="ChatSessionsResult">
        <include refid="selectChatSessionsVo"/>
        where id = #{id}
    </select>

    <insert id="insertChatSessions" parameterType="com.smartlive.chat.domain.ChatSessions">
        insert into chat_sessions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="maxUserId != null">max_user_id,</if>
            <if test="lowUserId != null">low_user_id,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="maxUserId != null">#{maxUserId},</if>
            <if test="lowUserId != null">#{lowUserId},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateChatSessions" parameterType="com.smartlive.chat.domain.ChatSessions">
        update chat_sessions
        <trim prefix="SET" suffixOverrides=",">
            <if test="maxUserId != null">max_user_id = #{maxUserId},</if>
            <if test="lowUserId != null">low_user_id = #{lowUserId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChatSessionsById" parameterType="Long">
        delete from chat_sessions where id = #{id}
    </delete>

    <delete id="deleteChatSessionsByIds" parameterType="String">
        delete from chat_sessions where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>